aenum==3.1.0
altgraph==0.17.2
ansible==4.4.0
ansible-core==2.11.4
anyio==3.6.1
backports.entry-points-selectable==1.1.0
bleach==5.0.1
certifi==2022.6.15
cffi==1.14.6
charset-normalizer==2.1.0
click==8.1.3
click-log==0.4.0
colorama==0.4.4
cryptography==3.4.8
deprecation==2.1.0
distlib==0.3.2
docutils==0.19
dotty-dict==1.3.1
filelock==3.0.12
flake8==3.9.2
gitdb==4.0.9
GitPython==3.1.27
gotrue==0.5.0
h11==0.12.0
httpcore==0.14.7
httpx==0.21.3
idna==3.3
importlib-metadata==4.12.0
invoke==1.7.1
Jinja2==3.0.1
keyring==23.7.0
macholib==1.15.2
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.21.4
packaging==21.0
Pillow==8.4.0
pkginfo==1.8.3
platformdirs==2.0.2
postgrest-py==0.10.2
PyBluez==0.23
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.9.1
pyflakes==2.3.1
Pygments==2.12.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyparsing==2.4.7
pyserial==3.5
python-can==3.3.4
python-dateutil==2.8.2
python-gitlab==3.7.0
python-semantic-release==7.28.1
pyudev==0.23.2
PyYAML==5.4.1
readme-renderer==35.0
realtime==0.0.4
requests==2.28.1
requests-toolbelt==0.9.1
resolvelib==0.5.4
rfc3986==1.5.0
rshell @ https://github.com/dhylands/rshell/archive/pico.zip
semver==2.13.0
shtab==1.5.2
simpleaudio==1.0.4
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
storage3==0.3.4
supabase==0.5.8
termcolor==1.1.0
tldr==3.0.0
tomlkit==0.10.2
tqdm==4.64.0
transitions==0.8.10
twine==3.8.0
typing_extensions==4.3.0
urllib3==1.26.11
virtualenv==20.6.0
webencodings==0.5.1
websockets==9.1
wrapt==1.12.1
wxPython==4.1.1
zipp==3.8.1
